<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="stylesheet" href="/public/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <title>ManHQ</title>
    </head>
    <body>
        <%- include('partials/header.html')%>
        
        <section class="noticia-destaque">
            <div class="center">
                <div class="img-destaque">                
                    <div class="overlay-destaque"></div>

                    <div class="title-destaque-descricao">
                        <h2>One Piece: Netflix confirma</br>2ª temporada do live-action</h2>
                            <p>
                                Ótima notícia para os fãs de One Piece! A Netflix confirmou na última quinta-feira (14) a renovação do live-action para uma segunda temporada.
                                A notícia foi revelada pelo próprio Eiichiro Oda, autor do mangá que inspirou a série e o anime.                            
                            </p>
                    </div> <!--title-destaque-descricao-->
                    <img src="/public/images/SunnyOP.jpg"/>
                </div><!--img-destaque-->
            </div><!--center-->
        </section><!--noticia-destaque-->
        <section class="outras-noticias">
            <div class="title-outras-noticias">
                <h2>Últimas noticias</h2>
                <div class="center">
                    <div class="ultimas">
                        <div class="box-ultima-single">
                            <img src="/public/images/LuffyChibi.png"/>
                            <div class="conteudo-noticia-single">
                                <h3>Curiosidades</h3><!--CATEGORIA-->
                                <h2>Tão fofinho</h2><!--TITLE-->
                                <p>
                                    Luffy chibi é tao fofinho quanto Tony Tony Chopper envergonhado por estar recebendo elogias por seus feitos
                                </p><!--CONTEUDO-->    
                                <a href="/encarar-o-surf">Ler mais</a>
                            </div><!--conteudo-noticia-single-->
                        </div><!--box-ultima-single-->
                        <div class="box-ultima-single">
                            <img src="/public/images/LuffyChibi.png"/>
                            <div class="conteudo-noticia-single">
                                <h3>Curiosidades</h3><!--CATEGORIA-->
                                <h2>Tão fofinho</h2><!--TITLE-->
                                <p>Luffy chibi é tao fofinho quanto Tony Tony Chopper envergonhado por estar recebendo elogias por seus feitos</p><!--CONTEUDO-->    
                                <a href="/encarar-o-surf">Ler mais</a>
                            </div><!--conteudo-noticia-single-->     
                        </div><!--box-ultima-single-->
                        <div class="box-ultima-single">
                            <img src="/public/images/LuffyChibi.png"/>
                            <div class="conteudo-noticia-single">
                                <h3>Curiosidades</h3><!--CATEGORIA-->
                                <h2>Tão fofinho</h2><!--TITLE-->
                                <p>
                                    Luffy chibi é tao fofinho quanto Tony Tony Chopper envergonhado por estar recebendo elogias por seus feitos
                                </p><!--CONTEUDO-->    
                                <a href="/encarar-o-surf">Ler mais</a>
                            </div><!--conteudo-noticia-single-->
                        </div><!--box-ultima-single-->
                        <div class="box-ultima-single">
                            <img src="/public/images/LuffyChibi.png"/>
                            <div class="conteudo-noticia-single">
                                <h3>Curiosidades</h3><!--CATEGORIA-->
                                <h2>Tão fofinho</h2><!--TITLE-->
                                <p>
                                    Luffy chibi é tao fofinho quanto Tony Tony Chopper envergonhado por estar recebendo elogias por seus feitos
                                </p><!--CONTEUDO-->    
                                <a href="/encarar-o-surf">Ler mais</a>
                            </div><!--conteudo-noticia-single-->
                        </div><!--box-ultima-single-->
                    </div><!--ultimas-->
                    <div class="mais-lidas">
                        <h3>Mais lidas</h3>
                        <div class="mais-lidas-noticias">
                            <div class="mais-lida-noticia-single">
                                <img src="/public/images/NATUREZA1.png"/>
                                <div class="texto-mais-lida-single">
                                    <h4>NATUREZA</h4>
                                    <p>A importancia da floresta do artico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?</p>    
                                    <a href="/encarar-o-surf">Ler mais</a>
                                </div>
                            </div><!--mais-lida-noticia-single-->
                            <div class="mais-lidas-noticias">
                                <div class="mais-lida-noticia-single">
                                    <img src="/public/images/MUNDOANIMAL.png"/>
                                    <div class="texto-mais-lida-single">
                                        <h4>MUNDO ANIMAL</h4>
                                        <p>Com idade avançada, leão do Parque Dois Irmãos é diagnosticado com câncer e recebe tratamento.
                                             Espécie está ameaçada de extinção.</p>    
                                        <a href="/encarar-o-surf">Ler mais</a>
                                    </div>
                                </div><!--mais-lida-noticia-single-->
                                <div class="mais-lidas-noticias">
                                    <div class="mais-lida-noticia-single">
                                        <img src="/public/images/TECNOLOGIA.png"/>
                                        <div class="texto-mais-lida-single">
                                            <h4>TECNOLOGIA</h4>
                                            <p>O impacto do uso de fones de ouvido a longo prazo. Descubra como esse dispositivo pode afetar sua audição sem você nem perceber.</p>    
                                            <a href="/encarar-o-surf">Ler mais</a>
                                        </div>
                                    </div><!--mais-lida-noticia-single-->
                                    <div class="mais-lidas-noticias">
                                        <div class="mais-lida-noticia-single">
                                            <img src="/public/images/LIFESTYLE.png"/>
                                            <div class="texto-mais-lida-single">
                                                <h4>LIFESTYLE</h4>
                                                <p>Fazer uma viagem sempre é um momento incrível para a família. Descubra os melhores destinos para 2021.</p>    
                                                <a href="/encarar-o-surf">Ler mais</a>
                                            </div>
                                        </div><!--mais-lida-noticia-single-->
                        </div><!--mais-lidas-noticias-->
                    </div><!--mais-lidas-->
                </div><!--center-->
            </div><!--title-outras-noticias-->
        </section><!--outras-noticias-->

        <%- include('partials/footer.html')%>

    </body>
</html>